@import "./src/assets/scss/master";

::ng-deep {
    .toolbar-header {
        .p-toolbar {
            background-color: $primary;
            border-radius: 0px !important;
        }
    }

    .header-button {
        .p-button {
            background: transparent;

            .p-avatar{
                background: transparent;
            }
        }

        .p-button:enabled:focus {
            background: transparent;
        }

        .p-button:enabled:hover {
            background: transparent;
        }
    }
}

