<p-toolbar class="container">
    <div class="header-button p-toolbar-group-left">
      <button pButton pRipple type="button" icon="pi pi-bars" (click)="toggleSideNav()" class="p-button-rounded"></button>
    </div>

    <div class="flex align-items-center justify-content-center p-fluid">
      <div class="image" routerLink="/welcome">
        <img src="assets/images/logo.png" height="40px" alt="" />
      </div>
      <div class="ml-2 text-xl text-white" routerLink="/welcome">
        <b>MentConnect</b>
      </div>
    </div>
    
    <div class="header-button p-toolbar-group-right">
      <button type="button" pButton pRipple class="p-button-rounded">
        <p-avatar
          icon="pi pi-bell"
          pBadge
          value="0"
          styleClass="p-mr-2"
        ></p-avatar>
      </button>
    </div>


</p-toolbar>
